body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #d4fc79, #96e6a1);
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 350px;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 12px;
  border: none;
}

button {
  background: #2ecc71;
  color: white;
  font-weight: bold;
}

header {
  background: #27ae60;
  color: white;
  padding: 20px;
  text-align: center;
}

.dashboard {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.progress-bar {
  background: #ddd;
  height: 12px;
  border-radius: 10px;
}

#progressFill {
  height: 100%;
  width: 0%;
  background: #2ecc71;
  border-radius: 10px;
}

.badges { padding: 15px; }

.badge {
  background: white;
  padding: 10px;
  border-radius: 12px;
  margin-top: 8px;
}

.logout {
  background: #e74c3c;
}
